# PyCity Schools Analysis

+ Average math and reading scores stay consistent across grade level when grouped by school.  There is no major improvement in scores from any school.
+ Math passing rates are always consistently lower across every metric, but the difference between math and reading passing rates is greater amoung lower performing schools, large schools, and higher spending per student which all seem to correlate.  
+ The top 5 schools are all charter schools while the bottom 5 all district schools. 
+ In general (one exception), per student spending is higher in bottom performing schools than top performing.  
+ Schools under 2000 student have much higher passing rates than those with student populations above 2000.  A comparision of 95 to 75%.  The same phenomenon is seen with high and low per student spending brackets and district versus charter schools.

In [1]:
#Dependencies
import pandas as pd
import numpy as np
import os

# define file path
schools_file = os.path.join('Resources','schools_complete.csv')
students_file = os.path.join('Resources', 'students_complete.csv')

# read schools file
schools_df = pd.read_csv(schools_file)

#read student file
students_df = pd.read_csv(students_file)

## District Summary

In [2]:
#create array of unique school names
unique_school_names = schools_df['name'].unique()
#gives the length of unique school names to give us how many schools
school_count = len(unique_school_names)

#district student count
dist_student_count = schools_df['size'].sum()

#student count from student file (to verify with district student count)
total_student_rec = students_df['name'].count()

#total budget
total_budget = schools_df['budget'].sum()

#calculations for number and % passing reading
num_passing_reading = students_df.loc[students_df['reading_score'] >= 70]['reading_score'].count()
perc_pass_reading = num_passing_reading/total_student_rec
perc_pass_reading

#calculations for number and % passing math
num_passing_math = students_df.loc[students_df['math_score'] >= 70]['math_score'].count()
perc_pass_math = num_passing_math/total_student_rec
perc_pass_math

#average math score calculation
avg_math_score = students_df['math_score'].mean()
avg_math_score 

#average reading score calculation
avg_reading_score = students_df['reading_score'].mean()
avg_reading_score

#Overall Passing Rate Calculations
overall_pass = np.mean([perc_pass_reading, perc_pass_math])

# district dataframe from dictionary

district_summary = pd.DataFrame({
    
    "Total Schools": [school_count],
    "Total Students": [dist_student_count],
    "Total Budget": [total_budget],
    "Average Reading Score": [avg_reading_score],
    "Average Math Score": [avg_math_score],
    "% Passing Reading":[perc_pass_reading],
    "% Passing Math": [perc_pass_math],
    "Overall Passing Rate": [overall_pass]

})

#store as different df to change order
dist_sum = district_summary[["Total Schools", "Total Students", "Total Budget", "Average Reading Score", "Average Math Score", '% Passing Reading', '% Passing Math', 'Overall Passing Rate']]

#format cells
dist_sum.style.format({"Total Budget": "${:,.2f}", "Average Reading Score": "{:.1f}", "Average Math Score": "{:.1f}", "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

## School Summary

In [8]:
#groups by school
by_school = students_df.groupby(['school'])

#counts students per school and creates DataFrame
# students_per_school = pd.DataFrame([by_school['Student ID'].count(), by_school)
                                  
#adds budget per student
schools_df['Per Student Budget'] = schools_df['budget']/schools_df['size']

schools_df.rename(columns = {'name': 'school'}, inplace = True)

#creates dataframe of avg math and reading score by school
avg_math_by_sch = by_school['math_score'].mean().round(1).reset_index()
avg_read_by_sch = by_school['reading_score'].mean().round(1).reset_index()
avg_scores = pd.merge(avg_math_by_sch, avg_read_by_sch, on=('school'))
avg_scores.rename(columns = {'math_score': 'Average Math Score', 'reading_score': 'Average Reading Score'}, inplace=True)

#school level passing scores counts by using conditional and only keeping school and math score
pass_math = students_df.loc[students_df['math_score'] >=70][['school', 'math_score']]
pass_math_by_sch = pass_math.groupby('school').count().reset_index()
pass_math_by_sch.rename(columns = {"math_score": "# passing math"}, inplace=True)

#same as above for reading
pass_read = students_df.loc[students_df['reading_score'] >=70][['school', 'reading_score']]
pass_read_by_sch = pass_read.groupby('school').count().reset_index()
pass_read_by_sch.rename(columns = {"reading_score": "# passing reading"}, inplace=True)

#merge math and reading data
pass_count = pd.merge(pass_math_by_sch, pass_read_by_sch, on=('school'))


#merge all so far on school
sch_summary = pd.merge(schools_df, avg_scores, on=('school'))
sch_summary = pd.merge(sch_summary, pass_count, on=('school'))


#add percent passing columns
sch_summary['% Passing Math'] = sch_summary['# passing math']/sch_summary['size']
sch_summary['% Passing Reading'] = sch_summary['# passing reading']/sch_summary['size']

#delete extraneous columns
del sch_summary['# passing math']
del sch_summary['# passing reading']

# create Overall Passing Rat columns
sch_summary['Overall Passing Rate'] = (sch_summary['% Passing Math']+sch_summary['% Passing Reading'])/2
#formatting and adjustments for aesthetics
sch_summary.rename(columns = {'school': "School Name", "type": "School Type", "size":"Total Students", "budget": "Total School Budget"}, inplace = True)
sch_summary.set_index('School Name', inplace=True)
sch_summary.style.format({'Total Students': '{:,}', "Total School Budget": "${:,}", "Per Student Budget": "${:.0f}", "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

## Top Performing Schools by Passing Rate

In [9]:
# sort values by passing rate and then only print top 5 
top_5 = sch_summary.sort_values("Overall Passing Rate", ascending = False)
top_5.head().style.format({'Total Students': '{:,}', "Total School Budget": "${:,}", "Per Student Budget": "${:.0f}", "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

## Bottom Performing Schools by Passing Rate

In [10]:
#bottom 5 schools from worse to best
#take tail of top5 sort and re-sort from worst to best
bottom_5 = top_5.tail()
bottom_5 = bottom_5.sort_values('Overall Passing Rate')
bottom_5.style.format({'Total Students': '{:,}', "Total School Budget": "${:,}", "Per Student Budget": "${:.0f}", "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

## Math Scores by Grade

In [11]:
#creates grade level average math scores for each school 
ninth_math = students_df.loc[students_df['grade'] == '9th'].groupby('school')["math_score"].mean().reset_index()
ninth_math.rename(columns = {'math_score': "9th"}, inplace=True)
tenth_math = students_df.loc[students_df['grade'] == '10th'].groupby('school')["math_score"].mean().reset_index()
tenth_math.rename(columns = {'math_score': "10th"}, inplace=True)
eleventh_math = students_df.loc[students_df['grade'] == '11th'].groupby('school')["math_score"].mean().reset_index()
eleventh_math.rename(columns = {'math_score': "11th"}, inplace=True)
twelfth_math = students_df.loc[students_df['grade'] == '12th'].groupby('school')["math_score"].mean().reset_index()
twelfth_math.rename(columns = {'math_score': "12th"}, inplace=True)

#merges the math score averages by school and grade together
math_scores = pd.merge(ninth_math, tenth_math, on = 'school').merge(eleventh_math, on = 'school').merge(twelfth_math, on = 'school')

#formatting
math_scores.rename(columns = {'school':'School Name'}, inplace = True)
math_scores.set_index('School Name', inplace = True)
math_scores.style.format({'9th': '{:.1f}', "10th": '{:.1f}', "11th": "{:.1f}", "12th": "{:.1f}"})

## Reading Scores by Grade

In [12]:
#creates grade level average reading scores for each school
ninth_reading = students_df.loc[students_df['grade'] == '9th'].groupby('school')["reading_score"].mean().reset_index()
ninth_reading.rename(columns = {"reading_score": "9th"}, inplace=True)
tenth_reading = students_df.loc[students_df['grade'] == '10th'].groupby('school')["reading_score"].mean().reset_index()
tenth_reading.rename(columns = {"reading_score": "10th"}, inplace=True)
eleventh_reading = students_df.loc[students_df['grade'] == '11th'].groupby('school')["reading_score"].mean().reset_index()
eleventh_reading.rename(columns = {"reading_score": "11th"}, inplace=True)
twelfth_reading = students_df.loc[students_df['grade'] == '12th'].groupby('school')["reading_score"].mean().reset_index()
twelfth_reading.rename(columns = {"reading_score": "12th"}, inplace=True)

#merges the reading score averages by school and grade together
reading_scores = pd.merge(ninth_reading, tenth_reading, on = 'school').merge(eleventh_reading, on = 'school').merge(twelfth_reading, on = 'school')
reading_scores.rename(columns = {'school':'School Name'}, inplace = True)
reading_scores.set_index('School Name', inplace = True)
reading_scores.style.format({'9th': '{:.1f}', "10th": '{:.1f}', "11th": "{:.1f}", "12th": "{:.1f}"})

## Scores by School Spending

In [15]:
# merge schools and student datasets
merged_df = pd.merge(students_df, schools_df, on = 'school')

#add a column and assign bins for spending per student
merged_df.loc[(merged_df['Per Student Budget'] < 585), "spending_bin"] = "< $585"
merged_df.loc[((merged_df['Per Student Budget'] >= 585) & (merged_df['Per Student Budget'] < 615)), "spending_bin"] = "$585 - 614" 
merged_df.loc[((merged_df['Per Student Budget'] >= 615) & (merged_df['Per Student Budget'] < 645)), "spending_bin"] = "$615 - 644" 
merged_df.loc[(merged_df['Per Student Budget'] >= 645), "spending_bin"] = "> $644" 

# group by spending bin
by_spending = merged_df.groupby('spending_bin')

#find average math and reading score for each spending bin
avg_scores_by_spend = by_spending['math_score', 'reading_score'].mean().reset_index()

#find # of students passing in each spending bin by using conditional and rename column
pass_read_by_spend = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bin')['reading_score'].count().reset_index()
pass_read_by_spend.rename(columns = {'reading_score': '# pass reading'}, inplace=True)

pass_math_by_spend = merged_df[merged_df['math_score'] >= 70].groupby('spending_bin')['math_score'].count().reset_index()
pass_math_by_spend.rename(columns = {'math_score': '# pass math'}, inplace=True)

#find # of students in each spending bin to calculate percentage below
size_by_spend = by_spending['name'].count().reset_index()
size_by_spend.rename(columns = {'name':'size'}, inplace = True)

# merge so far
scores_by_spend = pd.merge(avg_scores_by_spend, pass_read_by_spend, on = "spending_bin").merge(pass_math_by_spend, on='spending_bin').merge(size_by_spend, on='spending_bin')
# add columns for % passing math and reading
scores_by_spend['% Passing Reading'] = scores_by_spend['# pass reading']/scores_by_spend['size']
scores_by_spend['% Passing Math'] = scores_by_spend['# pass math']/scores_by_spend['size']
# keep only data needed for table
scores_by_spend = scores_by_spend[['spending_bin', 'math_score', 'reading_score', '% Passing Math', '% Passing Reading']]
# add column for overall passing rate
scores_by_spend['Overall Passing Rate'] = (scores_by_spend['% Passing Reading']+ scores_by_spend['% Passing Math'])/2
#reorder rows
scores_by_spend = scores_by_spend.reindex([2,0,1,3])
#formatting
scores_by_spend.rename(columns = {'spending_bin':'Spending Per Student','math_score': 'Average Math Score', 'reading_score':'Average Reading Score'}, inplace=True)
scores_by_spend.set_index('Spending Per Student', inplace=True)
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 'Average Reading Score': '{:.1f}', '% Passing Math': '{:.1%}', '% Passing Reading':'{:.1%}', 'Overall Passing Rate': '{:.1%}'})

## Scores by School Size

In [16]:
# bin by size of student body
merged_df.loc[(merged_df['size'] < 1000), "size_class"] = "Small (<1000)"
merged_df.loc[((merged_df['size'] >= 1000) & (merged_df['size'] <= 2000)), "size_class"] = "Medium (1000-2000)" 
merged_df.loc[(merged_df['size'] > 2000), "size_class"] = "Large (>2000)" 

#groupby school size bins
by_size = merged_df.groupby("size_class")

#get average scores for math and reading by size bin
avg_scores_by_size = by_size['math_score', 'reading_score'].mean().reset_index()

#get # of students passing math and reading by size of school
pass_read_by_size = merged_df[merged_df['reading_score'] >= 70].groupby("size_class")['reading_score'].count().reset_index()
pass_read_by_size.rename(columns = {'reading_score': '# pass reading'}, inplace=True)

pass_math_by_size = merged_df[merged_df['math_score'] >= 70].groupby("size_class")['math_score'].count().reset_index()
pass_math_by_size.rename(columns = {'math_score': '# pass math'}, inplace=True)

#get number of students in each size bin
size_by_size = by_size['name'].count().reset_index()
size_by_size.rename(columns = {'name':'size'}, inplace = True)

#merge to use in calculation
scores_by_size = pd.merge(avg_scores_by_size, pass_read_by_size, on = "size_class").merge(pass_math_by_size, on="size_class").merge(size_by_size, on="size_class")
#calculate %s
scores_by_size['% Passing Reading'] = scores_by_size['# pass reading']/scores_by_size['size']
scores_by_size['% Passing Math'] = scores_by_size['# pass math']/scores_by_size['size']
# get rid of columns not needed
scores_by_size = scores_by_size[["size_class", 'math_score', 'reading_score', '% Passing Math', '% Passing Reading']]
# calculate overall passing rate
scores_by_size['Overall Passing Rate'] = (scores_by_size['% Passing Reading']+ scores_by_size['% Passing Math'])/2

#formatting
scores_by_size = scores_by_size.reindex([2,1,0])
scores_by_size.rename(columns = {"size_class": "School Size",'math_score': 'Average Math Score', 'reading_score':'Average Reading Score'}, inplace=True)
scores_by_size.set_index('School Size', inplace=True)
scores_by_size.style.format({'Average Math Score': '{:.1f}', 'Average Reading Score': '{:.1f}', '% Passing Math': '{:.1%}', '% Passing Reading':'{:.1%}', 'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

In [18]:
# group by type of school
by_type = merged_df.groupby("type")

#find average score by type
avg_scores_by_type = by_type['math_score', 'reading_score'].mean().reset_index()

#find # passing by type of school
pass_read_by_type = merged_df[merged_df['reading_score'] >= 70].groupby("type")['reading_score'].count().reset_index()
pass_read_by_type.rename(columns = {'reading_score': '# pass reading'}, inplace=True)

pass_math_by_type = merged_df[merged_df['math_score'] >= 70].groupby("type")['math_score'].count().reset_index()
pass_math_by_type.rename(columns = {'math_score': '# pass math'}, inplace=True)

#find number of students by type of school
size_by_type = by_type['name'].count().reset_index()
size_by_type.rename(columns = {'name':'size'}, inplace = True)

#merge data for calculations
scores_by_type = pd.merge(avg_scores_by_type, pass_read_by_type, on = "type").merge(pass_math_by_type, on="type").merge(size_by_type, on="type")
scores_by_type['% Passing Reading'] = scores_by_type['# pass reading']/scores_by_type['size']
scores_by_type['% Passing Math'] = scores_by_type['# pass math']/scores_by_type['size']
# only keep needed columns
scores_by_type = scores_by_type[["type", 'math_score', 'reading_score', '% Passing Math', '% Passing Reading']]
# calc passing rate for each type
scores_by_type['Overall Passing Rate'] = (scores_by_type['% Passing Reading']+ scores_by_type['% Passing Math'])/2
#formatting
scores_by_type.rename(columns = {"type": "School Size",'math_score': 'Average Math Score', 'reading_score':'Average Reading Score'}, inplace=True)
scores_by_type.set_index('School Size', inplace=True)
scores_by_type.style.format({'Average Math Score': '{:.1f}', 'Average Reading Score': '{:.1f}', '% Passing Math': '{:.1%}', '% Passing Reading':'{:.1%}', 'Overall Passing Rate': '{:.1%}'})